.enormous {
    // font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(0, 82, 102);
    font-weight: 900;
    font-size: 13vmax;
    bottom: 1vh;
    left: 3vw;
    position: absolute;
}

.enormous > p {
    margin-top: 5px;
    margin-bottom: 5px;
}
